<!-- views/partials/footer.ejs -->
</div>

<footer class="footer">
	<div class="container">
		<div class="row mx-auto d-block">
			<h4 class="text-muted">Contact Us</h4>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="text-muted">
					<p>
						Email:
						<a href="mailto:Jeanne@JeanneGiordano.com?Subject=Urban%20Attic%20Staging%20Inquiry" target="_top">Jeanne@JeanneGiordano.com</a>
					</p>
				</div>
			</div>
			<div class="col-md-6 mx-auto d-block">
				<div class="text-muted">
					<p>
						Phone:
						<a href="tel:+1-610-633-8813">(610) 633-8813</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row mx-auto d-block">
			<p class="text-center text-muted">Urban Attic Staging (2018)</p>
		</div>
	</div>
</footer>
</body>
