<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<!-- Header -->
<% include ../partials/header %>

<main>
<div class="container">
<div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>About</h1>
            </div>
        </div>
</div>
<div class="row">
        <div class="col-md-6 order-2 order-md-1">
            <div class="container-fluid">
                <div class="billboard">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>About</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <p>Business card</p>
        </div>
    </div>
</div>
</main>

<!-- Footer -->
<% include ../partials/footer %>

</html>
