<!-- views/pages/404.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<% include ../partials/header %>

<main>
    <div>
        <h1>Admin</h1>
        <p>The page is for site administrators.</p>
    </div>
</main>

<% include ../partials/footer %>

</html>
